{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<div class="login-container">
    <h3 style="text-align:center;">Log In</h3>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Log In</button>
    </form>
    <div class="register">
        Not registered? <a href="{% url 'register' %}">Sign Up</a>
    </div>
</div>

</body>
</html>
